* { margin:0; padding:0; list-style:none;}
div {line-height:1.6;} 
.top {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height:70px;
}
a{
	text-decoration:none;
	color:#0FF;
}
a:visited{
	color:#36C;
}
.main {
	position:relative;
	left: 0px;;
	right: 10px;
	height:100%;
	/*overflow: auto;*/
}
